@using Portfolio.Models.Models.ViewModels
@model AlbumViewModel

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = Model.Album.AlbumName;
    string PageCover = Model.Album.CoverPhoto == null ? ImageUtility.GetPlaceholder(true) : ImageUtility.ImageMatchSize(Model.Album.CoverPhoto, 0).Path;
}

<div class="modal fade" id="singlePhotoModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog p-4 mb-0 mt-0 modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <img src=@PageCover class="img-fluid" alt="...">
            </div>
        </div>
    </div>
</div>

<section class="p-0 text-center container bg-body-primary m-0 mw-100 w-100">
    <div class="row p-0 headerImage m-0 mw-100 w-100 verticalMotionImage" style="backgroundPositionY:25%;background-image: url('@PageCover'); height:32rem;">
        <div class="col-lg-6 col-md-8 m-auto mh-100 overflow-hidden">
            <h1 class="fw-light text-light">@Model.Album.AlbumName</h1>
            <p class="lead text-light">@Model.Album.AlbumDescription</p>
            <p>
                <a asp-area="User" asp-controller="Gallery" asp-action="Section" asp-route-section="@Model.ReturnRef" class="btn btn-primary my-2">Wróć</a>
                <a asp-area="User" asp-controller="Home" asp-action="Contact" class="btn btn-secondary my-2">Skontaktuj się ze mną!</a>
                @if (SignInManager.IsSignedIn(User))
                {
                    <a asp-area="Admin" asp-controller="Admin" asp-action="UpsertAlbum" asp-route-albumId="@Model.Album.Id" class="btn btn-secondary my-2">Edytuj</a>
                }
            </p>
        </div>
    </div>
</section>

<div class="album py-0 bg-body-primary">
    <div class="container">
        <hr class="featurette-divider">

        @if (Model.Album==null || Model.Album.Photos==null || Model.Album.Photos.Count()==0)
        {
            <partial name="/Views/Shared/_NoContent.cshtml" />
        }
        else
        {
            <div id="masonryAlbum" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5" data-masonry="{&quot;percentPosition&quot;: true }">
                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="col m-0 p-0 hasOverlay">
                        <div class="position-absolute h-100 w-100 bg-black opacity-50"></div>

                        <div class="position-absolute top-50 start-50 translate-middle">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plus-circle-fill w-100 h-100 overlay" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
                            </svg>
                        </div>

                        <img src="@ImageUtility.GetPlaceholder(true)" class="img-fluid" alt="...">
                        <a asp-area="Admin" asp-controller="Admin" asp-action="UpsertPhotos" asp-route-albumId="@Model.Album.Id" class="stretched-link"></a>
                    </div>
                }

                @foreach(Photo photo in Model.Album.Photos)
                {
                    if(!photo.IsHidden || SignInManager.IsSignedIn(User))
                    {
                        <div class="col m-0 p-0 hasOverlay" style="overflow:hidden;">
                            <a onclick="showNSFW(this)" href="" data-bs-toggle="modal" data-bs-path="@ImageUtility.ImageMatchSize(photo, 0).Path" data-bs-width="@ImageUtility.ImageMatchSize(photo, 0).Width" data-bs-height="@@ImageUtility.ImageMatchSize(photo, 0).Height" data-bs-target="#singlePhotoModal">
                                @if (photo.NSFW)
                                {
                                    <img src=@ImageUtility.ImageMatchSize(photo, 1080).Path class="img-fluid img_nsfw" alt="...">
                                    <div class="position-absolute top-50 start-50 translate-middle img_nsfw_label">
                                        <p class="opacity-75 fs-5 text-center">NSFW</p>
                                        <p class="opacity-75 fs-6 text-center">Kliknij aby odkryć</p>
                                    </div>
                                }
                                else
                                {
                                    <img src=@ImageUtility.ImageMatchSize(photo, 1080).Path class="img-fluid" alt="...">
                                }
                            </a>

                            

                            @if (SignInManager.IsSignedIn(User))
                            {
                                <div class="position-absolute w-100 bottom-0 bg-black overlay">
                                    <div class="btn-group w-100 m-100">
                                        <a asp-area="Admin" asp-controller="Admin" asp-action="RemovePhotoFromAlbum" asp-route-photoId=@photo.Id asp-route-albumId="@Model.Album.Id" asp-route-returnRef="@Model.Album.UrlRef" class="btn btn-outline-primary requireConfirmation">
                                            <i class="bi bi-trash3-fill"></i>
                                        </a>
                                        <a class="btn btn-outline-primary">
                                            <i class="bi bi-pencil-square"></i>
                                        </a>
                                            <a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-path="@ImageUtility.ImageMatchSize(photo, 0).Path" data-bs-width="@@ImageUtility.ImageMatchSize(photo, 0).Width" data-bs-height="@@ImageUtility.ImageMatchSize(photo, 0).Height" data-bs-target="#singlePhotoModal">
                                            <i class="bi bi-zoom-in"></i>
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                }
            </div>
        }

        

        <hr class="featurette-divider">
    </div>
</div>

@section Scripts {
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
    <script src="~/js/imageMotion.js"></script>

    <script>
        $('#masonryAlbum').imagesLoaded().progress(
            function () {
                $('#masonryAlbum').masonry('layout');
            }
        );
    </script>
}