@using Portfolio.Models.Models.ViewModels
@model HomeViewModel

@{
    ViewData["Title"] = "Fotokozak";
}

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="container p-0 m-0 mw-100">
    <div id="myCarousel" class="carousel slide mb-0" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="active" aria-current="true"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item">
                <img src="res/photo/placeholder_hor_1145.jpg" class="carousel-image w-100 h-100"/>
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>Chcesz mnie poznać?</h1>
                        <p class="opacity-75">Sprawdź co napisali o mnie klienci!</p>
                        <p><a class="btn btn-lg btn-primary" href="#reviews-section">Recenzje</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="res/photo/placeholder_hor_1113.jpg" class="carousel-image w-100 h-100"/>
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Hej! Tu Karol :)</h1>
                        <p class="opacity-75">Zapraszam Cię do obejrzenia mojego portfolio!</p>
                        <p><a class="btn btn-lg btn-primary" href="#display-section">Albumy</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item active">
                <img src="res/photo/placeholder_hor_0360.jpg" class="carousel-image w-100 h-100"/>
                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>Zainteresowany zdjęciami?</h1>
                        <p class="opacity-75">Skontaktuj się ze mną!</p>
                        <p><a class="btn btn-lg btn-primary" href="#contact-form">Kontakt</a></p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="container" id="reviews-section">
        <hr class="featurette-divider">
        <div class="text-center">
            <h1>Tak o mnie piszą:</h1>
        </div>
        <hr class="featurette-divider">

        <div class="row">
            @if(Model.Reviews!=null && Model.Reviews.Count() > 0)
            {
                string PhotoPath = "";

                foreach(Review review in Model.Reviews)
                {
                    PhotoPath = review.ReviewPhoto == null ? ImageUtility.GetPlaceholder(true) : review.ReviewPhoto.Path;
                    <figure class="col-lg-4 text-center position-relative hasOverlay">
                        <img class="object-fit-cover rounded-circle" src="@PhotoPath" width="@ImageUtility.REVIEW_COVER_WIDTH" height="@ImageUtility.REVIEW_COVER_HEIGHT" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice"></img>

                        <blockquote class="blockquote">
                            <p class="mb-0">@review.ReviewText</p>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                            <cite title="Source Title">@review.ReviewAuthor</cite>
                        </figcaption>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <div class="position-absolute top-0 left-0 w-100 bg-black overlay">
                                <div class="btn-group w-100 m-100 align-items-center">
                                    <a asp-area="Admin" asp-controller="Admin" asp-action="UpsertReview" asp-route-reviewId="@review.Id" class="btn btn-outline-primary">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                    <a asp-area="Admin" asp-controller="Admin" asp-action="RemoveReview" asp-route-reviewId="@review.Id" class="btn btn-outline-primary requireConfirmation">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        }
                    </figure>
                }
            }
        </div>
    </div>

    <div class="container p-0" id="display-section">
        <hr class="featurette-divider">

        @if(Model.Sections==null || Model.Sections.Count == 0)
        {
            <partial name="/Views/Shared/_NoContent.cshtml" />
            <hr class="featurette-divider">
        }
        else
        {
            int i = 0;
            if (SignInManager.IsSignedIn(User))
            {
                <div class="row mx-0 position-relative text-center text-md-@(i%2==1?"start":"end")">
                    <div class="col-md-7 order-1 order-md-@(i%2) mt-4 mt-md-0">
                        <a asp-area="Admin" asp-controller="Admin" asp-action="UpsertSection">
                            <h2 class="featurette-heading fw-normal lh-1">--DODAJ SEKCJĘ--</h2>
                        </a>
                    </div>
                    <div class="col-md-5 px-0 order-0 hasOverlay">
                        <a asp-area="Admin" asp-controller="Admin" asp-action="UpsertSection">
                            <img src="@ImageUtility.GetPlaceholder(true)" class="bd-placeholder-img bd-placeholder-img-lg featurette-image object-fit-cover mx-auto" role="img" aria-label="Section Cover" preserveAspectRatio="xMidYMid slice" focusable="false" width="@ImageUtility.SECTION_COVER_WIDTH" height="@ImageUtility.SECTION_COVER_HEIGHT" />
                        </a>
                    </div>
                </div>
                <hr class="featurette-divider">
                i++;
            }
            @foreach(Section sect in Model.Sections){
                <div class="row mx-0 position-relative text-center text-md-@(i%2==1?"start":"end")">
                    <div class="col-md-7 order-1 order-md-@(i%2) mt-4 mt-md-0">
                        <a href="@Url.Action("Section", "Gallery", new {section=sect.UrlRef})">
                            <h2 class="featurette-heading fw-normal lh-1">@sect.SectionName</h2>
                            <p class="lead">
                                @sect.SectionDescription
                            </p>
                        </a>
                    </div>
                    <div class="col-md-5 px-0 order-0 hasOverlay">
                        <a href="@Url.Action("Section", "Gallery", new {section=sect.UrlRef})">
                            <img src="@ImageUtility.PathOrPlaceholder(sect?.SectionCover?.Path ,true)" class="bd-placeholder-img bd-placeholder-img-lg featurette-image object-fit-cover mx-auto" role="img" aria-label="Section Cover" preserveAspectRatio="xMidYMid slice" focusable="false" width="@ImageUtility.SECTION_COVER_WIDTH" height="@ImageUtility.SECTION_COVER_HEIGHT" />
                        </a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <div class="position-absolute @(i%2==1?"start":"end")-0 top-0 h-100 bg-black overlay">
                                <div class="btn-group-vertical h-100 m-100 align-items-center">
                                    <a asp-area="Admin" asp-controller="Admin" asp-action="UpsertSection" asp-route-sectionId="@sect.Id" class="btn btn-outline-primary">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                    <a asp-area="Admin" asp-controller="Admin" asp-action="RemoveSection" asp-route-sectionId="@sect.Id" asp-route-returnRef="@sect.UrlRef" class="btn btn-outline-primary requireConfirmation">
                                        <i class="bi bi-trash3-fill"></i>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <hr class="featurette-divider">
                i++;
            }
        }
    </div>
</div>

<div class="container">
    <partial name="/Views/Shared/_ContactForm.cshtml" />
    <hr class="featurette-divider">
</div>
